{% extends 'store/menu.html' %}
{% load static %}
{% block DataArea %}
<h4 class=" mb-4"> <img src="{% static '/images/report.png' %}" class="miniature"> Справочники</h4>
<div class="row ">

<div class="col-md-3">
    <div class="card shadow" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Единицы измерения</h5>
     <img class="card-img-top miniature" src="{% static '/images/report.png' %}" >
    <p class="card-text">Создание,редактирование, удаление единиц изменения</p>
    <a href="#" class="btn btn-primary">Открыть справочник</a>
    </div>
    </div>
</div>

<div class="col-md-3">
    <div class="card shadow" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Категории</h5>
     <img class="card-img-top miniature" src="{% static '/images/report.png' %}" >
    <p class="card-text">Создание,редактирование, удаление категорий ТМЦ</p>
    <a href="#" class="btn btn-primary">Открыть справочник</a>
    </div>
    </div>
</div>

<div class="col-md-3">
    <div class="card shadow" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Номенклатура</h5>
     <img class="card-img-top miniature" src="{% static '/images/report.png' %}" >
    <p class="card-text">Создание,редактирование, удаление  номенклатуры</p>
    <a href="#" class="btn btn-primary">Открыть справочник</a>
    </div>
    </div>
</div>

 <div class="col-md-3">
    <div class="card shadow" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Подразделения</h5>
     <img class="card-img-top miniature" src="{% static '/images/report.png' %}" >
    <p class="card-text">Создание,редактирование, удаление  подразделений</p>
    <a href="#" class="btn btn-primary">Открыть справочник</a>
    </div>
    </div>
</div>

</div>

<div class="row mt-4">

<div class="col-md-3">
    <div class="card shadow" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Подотчетные лица</h5>
     <img class="card-img-top miniature" src="{% static '/images/report.png' %}" >
    <p class="card-text">Создание,редактирование, удаление подотчетных лиц</p>
    <a href="#" class="btn btn-primary">Открыть справочник</a>
    </div>
    </div>
</div>

<div class="col-md-3">
    <div class="card shadow" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">Объекты</h5>
     <img class="card-img-top miniature" src="{% static '/images/report.png' %}" >
    <p class="card-text">Создание,редактирование, удаление объектов </p>
    <a href="#" class="btn btn-primary">Открыть справочник</a>
    </div>
    </div>
</div>





</div>






{% endblock DataArea %}