.linkarea{
height:90vh;
}
.maincontainer{
padding-left:30px;
padding-right:30px;
}
.logo{
text-align:right;
}
.user{
float:right;
padding-right:30px;
}
.loginform{
padding-left:30px;
padding-right:30px;
}
.miniature{
width:45px;
}
.miniature2{
width:25px;
}
a {
text-decoration:none;
}
.scrolltable{
display:block;
overflow-y: auto;
height:75vh;
}
.scrolltable2{
display:block;
overflow-y: auto;
height:72.5vh;
}
.miniature_sprav{
width:45px;
float:left;
}

.borderdiv{
border-radius:10px;
}
.btnupdate{
width:40px;
padding:0;
margin-bottom:15px;
}