
{% extends 'store/base.html' %}
{% load static %}
{% block LinkArea %}
{% if request.user.username == "Кладовщик" %}

<a href="{% url 'DocMenu' %}" class="btn btn-secondary text-white nav-link mb-2 shadow  ">Документы</a>

<a href="{% url 'ReportMenu' %}" class="btn btn-secondary   nav-link mb-2 shadow text-light">Отчеты</a>
<a href="{% url 'SpravMenu' %}" class="btn btn-secondary text-white  nav-link mb-1 shadow ">Справочники</a>

{% else %}
 <a href="#" class="btn btn-light border border-white  nav-link mb-2 shadow ">Отчеты</a>
{% endif %}

{% endblock LinkArea %}
{% block DataArea %}
{% endblock DataArea %}