<script>
output='';
$('#savebtn').click(function(){
event.preventDefault();
console.log("Click!");
let _tlt=$("#idtitle").val();
let csr=$("input[name=csrfmiddlewaretoken]").val();

mydata={
title:_tlt,
csrfmiddlewaretoken:csr,
}

$.ajax({
url:"{% url 'SprSave' %}",
method:"POST",
data:mydata,
dataType:"json",

success:function(data){
    x=data.unit_data;
    if (data.status=='Save'){
    for(i=0;i<x.length;i++){

        output +='<tr><td class="align-middle" style="width:960px;">'+ x[i].title+'</td>'+
    '<td class="text-center align-middle">'+'<img src="../static/images/update.png" style="width:25px;">'+'</td>'+

    '<td class="text-center align-middle">'+'<img src="../static/images/del.png" style="width:28px;">'+'</td></tr>'

    }
    $('#tbody').html(output)
    output='';
    $("form")[0].reset();

    }
    if (data.status == 0){
    alert('Запись не добавлена. Возможно, такая уже есть в справочнике...');
    }
}
});
}
);
</script>