{% extends 'store/menu.html' %}
{% load static %}
{% block DataArea %}
<form action="" method="post" id="mainform">
        {% csrf_token %}
<div class="row">
    <div class="col-md-1  "><img src="{% static '/images/report.png' %}" class="miniature_sprav mt-1 ">{{pic_label}}
<div class="linkdiv">
        <a href="#" class="btn btn-secondary  btn-sm mb-2 mt-5 linkbtn" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">  Ед.изм.</a>
        <a href="#" class="btn btn-secondary btn-sm linkbtn">Категории</a>
</div>
    </div>
<div class="col-md-11 mx-auto shadow ">
<table class="table  shadow ">
 <thead>
    <tr>
        <th>Наименование</th>
        <th>Ед.изм.</th>
        <th>Категория</th>
        <th title="Только для спецодежды">Срок,мес.</th>
        <th colspan="2"></th>
    </tr>
 </thead>
    <tr>
    <td class=" {{brd_class}} " > {{ form.title}}</td>
     <td class=" {{brd_class}} " > {{ form.izm}}</td>
     <td class=" {{brd_class}} " > {{ form.category}}</td>
     <td class=" {{brd_class}} " title="Только для спецодежды" > {{ form.srok}}</td>

<td class="pt-2 border-secondary "> <button type="submit" class="btn {{btn_class}} btn btn-sm mb-3 pt-2 pb-2 bt-3 " form="mainform" >
    {{btn_caption}}</button>
       <a href="{% url base_url %}"  ><img src="{% static '/images/update.png' %}" class="btnupdate"><a>
</form>
</td>
    </tr>

</table>
<div class="scrolltable2">
<table class="table shadow table-bordered">
<tbody>
    {% for item in unit %}
<tr>
<td style="width:510px;">
<a href="{% url update_url item.pk %}" class=" text-dark  ">{{item.title}}</a>
</td>
 <td style="width:180px;">
{{item.izm}}
</td>
<td style="width:175px;">
{{item.category}}
</td>
  <td style="width:65px;">
{% if item.srok != 0 %}
      {{item.srok}}
      {% endif %}
</td>
<td class="text-center">
    <a href="{% url delete_url item.pk %}" class="lead text-dark  ">
    <img src="{% static '/images/del.png' %}" class="miniature2"></td></a>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>



<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel"><span class="text-danger">Новая запись</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
          <form action="" method="post" id="podbor_izm">
             {% csrf_token %}
{{form2.title}}

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
<button type="submit" class="btn btn-secondary"  form="podbor_izm">Добавить</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock DataArea %}

