{% extends 'store/menu.html' %}
{% load static %}
{% block DataArea %}
<h4 class="mb-4 text-center"> <img src="{% static '/images/report.png' %}" class="miniature"> Единицы измерения</h4>

<div class="row">
  <div class="col-md-11 text-end ">

    <button type="button" class="btn btn-primary btn-sm mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Добавить</button>
  </div>
</div>

<div class="row">
<div class="col-md-10 mx-auto">

<table class="table  shadow table-bordered">

  <thead>
    <tr>
      <th >Наименование</th>
      <th  ></th>
    </tr>
  </thead>
  <tbody>
    {% for item in unit %}
  <tr>
      <td>
         <a href="{% url 'DocMenu' %}" data-bs-toggle="modal" data-bs-target="#exampleModal" class="lead">{{item.title}}</a>
      </td>
    <td class="text-center"><img src="{% static '/images/minus2.png' %}" class="miniature2">
    </td>
  </tr>
    {% endfor %}
   </tbody>
</table>
</div>
</div>

<!-- Кнопка-триггер модального окна -->




<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel"><span class="text-danger">Удаление</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
          <form>

          </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

      </div>
    </div>
  </div>
</div>













{% endblock DataArea %}